/* Saved QRs */


.top-options {
  position: absolute;
  right: 0;
  top: 0;
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 70px;
}

.top-options#manualSync {
  right: 56px;
}

.savedItems {
  height: 100%;
  width: 100%;
  position: absolute;
}

.savedItems .sh-status {
  width: 72px;
  height: 72px;
  margin-left: -16px;
  position: relative;
}

.sh-status-inner {
  width: 40px;
  height: 40px;
  background-color: #c5c5c5;
  background-image: url(../img/ui/light/ic_cloud_off_white_48dp.svg);
  background-size: 70%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.sh-status-inner.synced {
  background-color: #4CAF50;
  background-image: url(../img/ui/light/ic_cloud_done_white_48dp.svg);
}

.sh-status-inner.error {
  background-color: #F44336;
  background-image: url(../img/ui/light/ic_cloud_off_white_48dp.svg);
}

.clusterize-scroll {
  text-align: left;
}

.clusterize-scroll ul {
  height: 100%;
  margin: 0;
  padding-left: 0;
}

.clusterize-scroll ul li {
  border-bottom: 1px solid #e3e3e3;
  overflow: hidden;
  overflow-x: scroll;
}

/* Animations */

.snap-anim {
  -webkit-animation-name: snap-anim;
  animation-name: snap-anim;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes snap-anim {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes snap-anim {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.snap-status-in {
  -webkit-animation-name: snap-status-in;
  animation-name: snap-status-in;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes snap-status-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes snap-status-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.snap-status-out {
  -webkit-animation-name: snap-status-out;
  animation-name: snap-status-out;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes snap-status-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes snap-status-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.syncing {
  -webkit-animation-name: syncing;
  animation-name: syncing;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes syncing {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes syncing {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}